{{ block "hero" . }}
<div class="hero">
    <div class="hero-text">
        <h1>Oven.</h1>
        <p>Why do they call it oven when you off in the cold food of out hot eat the food.</p>
        <div class="buttons">
            <!-- <a class="button primary" href="" target="_blank">View Design</a> -->
            <!-- <a class="button secondary" href="" target="_blank">Stay Tuned</a> -->
        </div>

    </div>
    <div class="blob-cont">
        <div class="yellow blob"></div>
        <div class="red blob"></div>
        <div class="green blob"></div>
    </div>
</div>

{{ end }}
